<!DOCTYPE html>
<html lang="eng">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../styles/styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<body>
    <ul id="messages"></ul>
    <form id="form" action="">
        <input id="username" autocomplete="off" />
        <input id="input" autocomplete="off" /><button id="send">Send</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/chat.js"></script>

    <iframe src="footer.html" width="100%" height="100"></iframe>
</body>

</html>