<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../scripts/home.js"></script>

    <link rel="stylesheet" href="../styles/styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chat home</title>
</head>

<body>
    <h1 id="username"></h1>
    <h2>Chat Rooms</h2>
    <ul id="chat-rooms" style="width: 30%;">
        <!-- List of chat rooms will be dynamically populated here -->
        <button class="button" id="main_chat">Public Chat Room</button>
    </ul>
    <br>
    <button class="button" id="create_chat">Create Chat Room</button>
</body>

</html>