<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


    <!-- toastr -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <link rel="stylesheet" href="../styles/styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chat home</title>
</head>

<body>
    <h1 id="username"></h1>
    <h2>Chat Rooms</h2>
    <ul id="chat-rooms" style="width: 30%;">
        <!-- List of chat rooms will be dynamically populated here -->
        <button class="button" id="main_chat">Public Chat Room</button>
    </ul>
    <br>
    <button class="button" id="create_chat">Create Chat Room</button>
    <button class="button" id="profile">go to profile</button>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="new-chat-room-form">
                <label for="name">Chat room name:</label>
                <input type="text" id="name" name="name" required>

                <label for="members">Members (comma-separated usernames):</label>
                <input type="text" id="members" name="members">

                <button type="submit">Create chat room</button>
            </form>
        </div>
    </div>
    <iframe id="footer" src="footer.html"></iframe>
    <script src="../scripts/home.js"></script>
</body>

</html>