<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../scripts/home.js"></script>

    <link rel="stylesheet" href="../styles/styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chat home</title>
</head>

<body>
    <h1>Welcome, <span id="username"></span>!</h1>
    <h2>Chat Rooms</h2>
    <ul id="chat-rooms">
        <!-- List of chat rooms will be dynamically populated here -->
        <li><a href="chat.html">Chat Room 1</a></li>
    </ul>
</body>

</html>