<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../scripts/profile.js"></script>

    <!-- toastr -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <link rel="stylesheet" href="../styles/styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profile</title>
</head>

<body>
    <h1 id="user">hello users: </h1>
    <br>
    <h2>this is your profile picture</h2>
    <img id="profilePicture">

    <br>
    <h2>you can change it by clicking here</h2>
    <button id="changeProfilePicture" class="smallbutton">change profile picture</button>
    <form id="profileForm" action="/users/<%= user._id %>/edit" method="post" enctype="multipart/form-data">
        <input type="file" name="profilePicture">
        <!-- Other form fields go here -->
        <button type="submit">Update Profile</button>
    </form>
    <br>
    <h2>you can change your password by clicking here</h2>
    <button id="changePassword" class="smallbutton">change password</button>
    <form id="passwordForm" action="/users/<%= user._id %>/edit" method="post">
        <input type="password" id="password" placeholder="password">
        <input type="password" id="password2" placeholder="confirm password">
        <!-- Other form fields go here -->
        <button type="submit">Update Password</button>
    </form>
</body>

</html>